Design Pattern/.vs/
Design Pattern/Abstract/obj/
Design Pattern/Abstract/bin/
Design Pattern/Abstract/bin/

Design Pattern/Builder/bin/
Design Pattern/Builder/obj/

Design Pattern/Design Pattern/obj/

Design Pattern/Factory/obj/
Design Pattern/Factory/bin/

Design Pattern/Prototype/bin/
Design Pattern/Prototype/obj/

Design Pattern/Singleton/bin/
Design Pattern/Singleton/obj/
