Design Pattern/.vs/
Design Pattern/Abstract/obj/
Design Pattern/Abstract/bin/
Design Pattern/Builder/bin/
Design Pattern/Builder/obj/
Design Pattern/Abstract/bin/
Design Pattern/Design Pattern/obj/
Design Pattern/Factory/obj/
Design Pattern/Factory/bin/
